table{
    border-collapse: collapse;
    width: 20%;
  }
  
  tr,th,td{
      border: 1px solid;
      padding: 8px;
  }
  
  th{
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
  }
  
  img{
      border-radius: 4px;
      width: 135px;  
  }
  
  .container{
      display: flex;
  }
  
  .div1{
      height: 200px;
      width: 260px;
  }

  .cvhead {
    position: sticky;
    top: 0;
  }

  a.nevbar {
    text-decoration: none;
    position: sticky;
    top: 20px;
    float: right;
    text-transform: uppercase;
    margin-right: 50px;
    background-color: rgb(233, 206, 206);
    border-radius: 10px;
    color: black;
    padding: 5px 5px;
  }

  
  
  
  
  
  
  