table{
    border-collapse: collapse;
    width: 20%;
  }
  
  tr,th,td{
      border: 1px solid;
      padding: 8px;
  }
  
  th{
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
  }
  
  img{
      border-radius: 4px;
      width: 135px;  
  }
  
  .container{
      display: flex;
  }
  
  .div1{
      height: 200px;
      width: 260px;
  }

  .cvhead {
    position: sticky;
    top: 0;
  }

  
  
  
  
  
  
  